.moduleCitySelector {
	width: 317px;
	height: 84px;
	padding: 24px;
	background-color: white;
	border-radius: 12px;
}

.iconCitySelect {
	height: 16px;
	width: auto;
	border-radius: 4px solid black;
}